div {
    height: 300px;
    width: 300px;
    display: inline-block;
}

div:hover {
    background: coral;
    border-radius: 25%;
}
.one {
    background: red;
}
.two {
    background: green;
}
.three {
    background: blue;
    transition-duration: 2s;
}